# Scratch for Assignment 2

In [1]:
import numpy as np

## Problem 1.1

### Part B

In [2]:
xs = np.linspace(-np.pi, np.pi, 100)
ys = np.cos(xs)

print(len(xs))

100

In [5]:
def derivative(xIN, yIN):
    xCNT = len(xIN)
    yCNT = len(yIN)
    
    if xCNT != yCNT:
        return 0
    else:
        cmpSLOPE = []
        cmpPOINT = []
        
        cnt = xCNT - 1
        for i in range(cnt):
            xTMP = xIN[i+1] - xIN[i]
            yTMP = yIN[i+1] - yIN[i]
            
            tmpSLOPE = yTMP / xTMP
            tmpPOINT = xIN[i] + xTMP / 2
            
            cmpSLOPE.append(tmpSLOPE)
            cmpPOINT.append(tmpPOINT)
            
        slopeOUT = np.asarray(cmpSLOPE)
        pointOUT = np.asarray(cmpPOINT)
        
        output = [slopeOUT, pointOUT]
        return output

In [6]:
derivative(xs, ys)

[array([ 0.03172261,  0.09504009,  0.15797488,  0.22027356,  0.28168528,
         0.34196274,  0.40086325,  0.45814962,  0.51359118,  0.5669647 ,
         0.61805524,  0.6666571 ,  0.71257456,  0.75562274,  0.79562829,
         0.83243013,  0.86588006,  0.8958434 ,  0.9221995 ,  0.94484222,
         0.9636804 ,  0.97863818,  0.98965533,  0.99668748,  0.99970632,
         0.9986997 ,  0.99367167,  0.98464248,  0.97164847,  0.95474199,
         0.93399109,  0.90947934,  0.88130543,  0.84958282,  0.81443925,
         0.77601621,  0.73446843,  0.6899632 ,  0.64267973,  0.59280842,
         0.54055008,  0.48611514,  0.42972278,  0.37160008,  0.31198108,
         0.25110584,  0.18921948,  0.12657121,  0.06341328,  0.        ,
        -0.06341328, -0.12657121, -0.18921948, -0.25110584, -0.31198108,
        -0.37160008, -0.42972278, -0.48611514, -0.54055008, -0.59280842,
        -0.64267973, -0.6899632 , -0.73446843, -0.77601621, -0.81443925,
        -0.84958282, -0.88130543, -0.90947934, -0.93399109, -0.95474199,
        -0.97164847, -0.98464248, -0.99367167, -0.9986997 , -0.99970632,
        -0.99668748, -0.98965533, -0.97863818, -0.9636804 , -0.94484222,
        -0.9221995 , -0.8958434 , -0.86588006, -0.83243013, -0.79562829,
        -0.75562274, -0.71257456, -0.6666571 , -0.61805524, -0.5669647 ,
        -0.51359118, -0.45814962, -0.40086325, -0.34196274, -0.28168528,
        -0.22027356, -0.15797488, -0.09504009, -0.03172261]),
 array([-3.10985939e+00, -3.04639288e+00, -2.98292636e+00, -2.91945984e+00,
        -2.85599332e+00, -2.79252680e+00, -2.72906028e+00, -2.66559377e+00,
        -2.60212725e+00, -2.53866073e+00, -2.47519421e+00, -2.41172769e+00,
        -2.34826118e+00, -2.28479466e+00, -2.22132814e+00, -2.15786162e+00,
        -2.09439510e+00, -2.03092858e+00, -1.96746207e+00, -1.90399555e+00,
        -1.84052903e+00, -1.77706251e+00, -1.71359599e+00, -1.65012947e+00,
        -1.58666296e+00, -1.52319644e+00, -1.45972992e+00, -1.39626340e+00,
        -1.33279688e+00, -1.26933037e+00, -1.20586385e+00, -1.14239733e+00,
        -1.07893081e+00, -1.01546429e+00, -9.51997774e-01, -8.88531256e-01,
        -8.25064737e-01, -7.61598219e-01, -6.98131701e-01, -6.34665183e-01,
        -5.71198664e-01, -5.07732146e-01, -4.44265628e-01, -3.80799110e-01,
        -3.17332591e-01, -2.53866073e-01, -1.90399555e-01, -1.26933037e-01,
        -6.34665183e-02,  2.22044605e-16,  6.34665183e-02,  1.26933037e-01,
         1.90399555e-01,  2.53866073e-01,  3.17332591e-01,  3.80799110e-01,
         4.44265628e-01,  5.07732146e-01,  5.71198664e-01,  6.34665183e-01,
         6.98131701e-01,  7.61598219e-01,  8.25064737e-01,  8.88531256e-01,
         9.51997774e-01,  1.01546429e+00,  1.07893081e+00,  1.14239733e+00,
         1.20586385e+00,  1.26933037e+00,  1.33279688e+00,  1.39626340e+00,
         1.45972992e+00,  1.52319644e+00,  1.58666296e+00,  1.65012947e+00,
         1.71359599e+00,  1.77706251e+00,  1.84052903e+00,  1.90399555e+00,
         1.96746207e+00,  2.03092858e+00,  2.09439510e+00,  2.15786162e+00,
         2.22132814e+00,  2.28479466e+00,  2.34826118e+00,  2.41172769e+00,
         2.47519421e+00,  2.53866073e+00,  2.60212725e+00,  2.66559377e+00,
         2.72906028e+00,  2.79252680e+00,  2.85599332e+00,  2.91945984e+00,
         2.98292636e+00,  3.04639288e+00,  3.10985939e+00])]

## Problem 2

In [8]:
import pandas as pd

### Import

In [14]:
heroes = pd.DataFrame(
    data={'color': ['red', 'green', 'black', 
                    'blue', 'black', 'red'],
          'first_seen_on': ['a', 'a', 'f', 'a', 'a', 'f'],
          'first_season': [2, 1, 2, 3, 3, 1]},
    index=['flash', 'arrow', 'vibe', 
           'atom', 'canary', 'firestorm']
)

identities = pd.DataFrame(
    data={'ego': ['barry allen', 'oliver queen', 'cisco ramon',
                  'ray palmer', 'sara lance', 
                  'martin stein', 'ronnie raymond'],
          'alter-ego': ['flash', 'arrow', 'vibe', 'atom',
                        'canary', 'firestorm', 'firestorm']}
)

teams = pd.DataFrame(
    data={'team': ['flash', 'arrow', 'flash', 'legends', 
                   'flash', 'legends', 'arrow'],
          'hero': ['flash', 'arrow', 'vibe', 'atom', 
                   'killer frost', 'firestorm', 'speedy']})

### Coding Question 4

In [15]:
heroes['hero'] = heroes.index

In [16]:
heroes

           color first_seen_on  first_season       hero
flash        red             a             2      flash
arrow      green             a             1      arrow
vibe       black             f             2       vibe
atom        blue             a             3       atom
canary     black             a             3     canary
firestorm    red             f             1  firestorm

In [19]:
tmp4 = pd.merge(heroes, identities, how='inner', left_on='hero', right_on='alter-ego')

In [20]:
tmp4

   color first_seen_on  first_season       hero             ego  alter-ego
0    red             a             2      flash     barry allen      flash
1  green             a             1      arrow    oliver queen      arrow
2  black             f             2       vibe     cisco ramon       vibe
3   blue             a             3       atom      ray palmer       atom
4  black             a             3     canary      sara lance     canary
5    red             f             1  firestorm    martin stein  firestorm
6    red             f             1  firestorm  ronnie raymond  firestorm

In [22]:
tmp4a = pd.merge(tmp4, teams, how='outer', on='hero')

In [23]:
tmp4a

,color,first_seen_on,first_season,hero,ego,alter-ego,team
0,red,a,2.0,flash,barry allen,flash,flash
1,green,a,1.0,arrow,oliver queen,arrow,arrow
2,black,f,2.0,vibe,cisco ramon,vibe,flash
3,blue,a,3.0,atom,ray palmer,atom,legends
4,black,a,3.0,canary,sara lance,canary,NaN
5,red,f,1.0,firestorm,martin stein,firestorm,legends
6,red,f,1.0,firestorm,ronnie raymond,firestorm,legends
7,NaN,NaN,NaN,killer frost,NaN,NaN,flash
8,NaN,NaN,NaN,speedy,NaN,NaN,arrow